<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr></table>

In [8]:
text = "The phone number of the agent is 123-456-7890"

In [9]:
"123-456-7890" in text

True

In [10]:
import re

In [11]:
pattern = "phone"

In [12]:
re.search(pattern, text)

In [13]:
my_match = re.search(pattern, text)

In [14]:
my_match.span()

(4, 9)

In [15]:
my_match.start()

4

In [16]:
text ="my phone is a new phone"

In [17]:
match = re.search(pattern, text)

In [18]:
match.span()

(3, 8)

In [19]:
allmatches = re.findall("phone", text)

In [20]:
allmatches

['phone', 'phone']

In [21]:
len(allmatches)

2

In [23]:
for match in re.finditer("phone", text):
    print(match.span())

(3, 8)
(18, 23)

In [30]:
text = "my phone numer is 123-123-1234, 234-234-2345"
text

'my phone numer is 123-123-1234, 234-234-2345'

In [31]:
pattern = r'\d\d\d-\d\d\d-\d\d\d\d'

In [33]:
phone_number = re.search(pattern, text)
phone_number

In [34]:
all_phone_number = re.findall(pattern, text)
all_phone_number

['123-123-1234', '234-234-2345']

In [35]:
pattern = r"\d{3}-\d{3}-\d{4}"

In [36]:
re.search(pattern, text)

In [37]:
pattern = r"(\d{3})-(\d{3})-(\d{4})" 
match = re.search(pattern, text)

In [38]:
match.group()

'123-123-1234'

In [43]:
match.group(3)

'1234'

In [45]:
re.search(r"man|woman", "This woman was here")

In [46]:
re.search(r"man|woman", "This man was here")

In [48]:
re.findall(r".at", "The cat in the hat sat splat")

['cat', 'hat', 'sat', 'lat']

In [49]:
re.findall(r"..at", "The cat in the hat sat splat")

[' cat', ' hat', ' sat', 'plat']

In [50]:
re.findall(r"...at", "The cat in the hat sat splat")

['e cat', 'e hat', 'splat']

## Start, end with
* $ : Ends with
* ^ : Starts with

In [51]:
re.findall(r"\d$", "This ends with a number 2")

['2']

In [52]:
re.findall(r"\d^", "This ends with a number 2")

[]

In [55]:
re.findall(r"^\d", "1 is the best")

['1']

In [56]:
phrase = "there are 3 numers 34 inside 5 this sentence"

In [59]:
re.findall(r"[^\d]+", phrase) # [] -> exclude, not digits

['there are ', ' numers ', ' inside ', ' this sentence']

In [60]:
test_phrase = "This is a string! how to remove puncutation?"

In [64]:
mylist = re.findall(r"[^!.? ]+", test_phrase)

In [66]:
' '.join(mylist)

'This is a string how to remove puncutation'

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

In [67]:
text = "Only find the hyphen-words, where are the hypen-words?"

In [68]:
re.findall(r'[\w]+-[\w]+', text)

['hyphen-words', 'hypen-words']